@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600&display=swap');

:root{

    --main-color: #FFCD38;
    --button-color: #DF2E38;
    --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s ease;
}

/* temel html*/
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body{
    background-color: var(--main-color);
    height: 200vh;
}

section{
    padding: 3.5rem 7%;

}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: white;
    background-color: var(--button-color);
}

.btn:hover{
    background-color: orange;
}


/* HEADER START */

.header .logo img{
    height: 10rem;
}

.header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: black;
    border-bottom: 0.1rem solid transparent;
}

.header .navbar .active,
.header .navbar a:hover{
    border-color: var(--button-color);
    padding-bottom: 0.5rem;
}

.header .buttons button{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
}
/* HEADER END */

/* HOME START */

.home{
    min-height: 100vh;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;
}

.home .content{
    max-width: 60rem;

}

.home .content h3{
    font-size: 6rem;
    color: black;
}

.home .content p{
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    color:#121111 ;
}
/* HOME END */

/*MENU START*/
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.menu .box-container .box img{
    width: 100%;
    object-fit: cover;
}
/*MENU END*/